@{
    ViewData["Title"] = "Index";
}
<html>
    <head>

    </head>

    <body>
        <!--Ventana Emergente-->
    <div class="faccount" id="idfaccount">
        <center class="formBox">
            <div class="container">
                <div class="title">
                    <h2>Your first account</h2>
                </div>
                <form>
                    <div class="textboxes">
                        <input type="text" minlength="10" maxlength="10" placeholder="Account Number" autocomplete="off" required />
                        <input type="text" maxlenght="100" placeholder="Bank Name" autocomplete="off" required />
                    </div>
                    <div class="textboxes">
                        <input type="text" maxlength="100" placeholder="Location" autocomplete="off" required />

                        <!--Agregar un color gris a la primera opción, para que quede a juego con los demás placeholders-->
                        <select id="typeacc" required>
                            <option value="" disabled selected>Type</option>
                            <option value="1">Cuenta Corriente</option>
                            <option value="2">Cuenta con Chequera</option>
                            <option value="3">Cuenta de Ahorro</option>
                            <option value="4">Cuenta de Nómina</option>
                            <option value="5">Cuenta en Dólares</option>
                        </select>
                    </div>
                    <div class="btnsubmit">
                        <input type="submit" value="Create Account" />
                    </div>
                </form>
            </div>
        </center>
    </div>
@*        <div class="header">
            <a href=@Url.Action("SignOut","Login")>Sign Out</a>
        </div>

        <div class="container"> 
            <div class="title">
                <h2>Dashboard</h2>
            </div>

            <div class="suminfo">
                <div class="investment">
                    <center>
                        <h4>Your Investment</h4>
                        <h3>$10,000.00</h3>
                        <br />
                        <h5>**** **** **** 1234</h5>
                        <p>DOP</p>
                    </center>
                </div>

                <div class="debts">
                    <center>
                        <h4>Debts</h4>
                        <br />
                        <h5>$1200</h5>
                    </center>
                </div>

                <div class="inverted">
                    <center>
                        <h4>Inverted</h4>
                        <br />
                        <h5>$5000</h5>
                    </center>
                </div>
            </div>
 
            <div class="calendar">
                <!--Aquí va el calendario-->
            </div>
            <div class="invlist">
                <h3>Investment List</h3>
                <ul>
                    <li>
                        <h5>Investment list1</h5>
                        <p>$1,500.00</p>
                    </li>
                    <li>
                        <h5>Investment list2</h5>
                        <p>$500.00</p>
                    </li>
                </ul>
            </div>
            <div class="deblist">
                <h3>Debt List</h3>
                <ul>
                    <li>
                        <h5>Debt House</h5>
                        <p>$15,000.00</p>
                    </li>
                    <li>
                        <h5>Debt Transportation</h5>
                        <p>$2,000.00</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">

        </div>*@
    </body>
</html>
