@{
    ViewData["Title"] = "New Account";
}
<html>
<head>

</head>

<body>
    <!--Ventana Emergente-->
    <div class="faccount" id="idfaccount">
        <center class="formBox">
            <div class="container">
                <div class="title">
                    <h2>New Account</h2>
                </div>
                <form>
                    <div class="textboxes">
                        <input type="text" minlength="10" maxlength="10" placeholder="Account Number" required />
                        <input type="text" maxlenght="100" placeholder="Bank Name" required />
                    </div>
                    <div class="textboxes">
                        <input type="text" maxlength="100" placeholder="Location" required />

                        <!--Agregar un color gris a la primera opción, para que quede a juego con los demás placeholders-->
                        <select id="typeacc" required>
                            <option value="" disabled selected>Type</option>
                            <option value="1">Cuenta Corriente</option>
                            <option value="2">Cuenta con Chequera</option>
                            <option value="3">Cuenta de Ahorro</option>
                            <option value="4">Cuenta de Nómina</option>
                            <option value="5">Cuenta en Dólares</option>
                        </select>
                    </div>
                    <div class="btnsubmit">
                        <input type="submit" value="Create Account" />
                    </div>
                </form>
            </div>
        </center>
    </div>
</body>
</html>