body {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

html * {
    font-family: 'Space Mono', monospace;
    ;
}

/*HEADER CSS*/
.header {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #112B3C;
}

    .header a {
        margin: 0 1rem 0 0;
        color: #EFEFEF;
        text-decoration: none;
        font-weight: bold;
        transition: 600ms ease-out;
        animation: test 2s;
    }

    .header p {
        display: inherit;
        align-items: center;
        color: #EFEFEF;
        font-weight: bold;
    }

        .header p svg {
            margin: 0 0.4rem 0 0;
        }
    /*HEADER a ANIMATION*/
    .header a:hover {
        color: #F66B0E;
    }

    /*CONTAINER CSS*/

.formBox {
    width: 100%;
    display:grid;
}

.container {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background: #112B3C;
}

.title h2 {
    color: #E1E1E5;
    font-weight: bold;
    margin: 1rem 0 3rem 0;
}

.textboxes{
    background:transparent;
    display:flex;
    outline:none;
    resize:none;
    border:none; 
    column-gap: 1rem;
}

    .textboxes input {
        background: transparent;
        border: 2px solid rgb(239, 239, 239);
        outline: none;
        width: 100%;
        height: 2.5rem;
        resize: none;
        color: #EFEFEF;
        margin: 0 0 1rem 0;
        text-indent: 6px;
        font-size: medium;
        font-weight: bold;
        letter-spacing: 1px;
        word-spacing: 2px;
        border-radius: 5px;
        transition: all 1s;
    }

.textboxes::placeholder {
    color: transparent;
}
.textboxes input:focus {
    border: 2px solid #EFEFEF;
}
.btnsubmit{
    height:5rem;
}
.btnsubmit input{
    display:grid;
    font-size:medium;
    font-weight:bold;
    margin: 1rem 0 0 0;
    border: none;
    outline: none;
    background: #205375;
    cursor: pointer;
    width: 18rem;
    height: 3rem;
    color: #EFEFEF;
    font-weight: bold;
    border-radius: 0.4rem;
    transition: 200ms ease-out;
}

.btnsubmit input:hover{
    color:#F66B0E;
}
/*FOOTER CSS*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #112B3C;
}

.footerWaves div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/wave-haikei.png);
    background-repeat: no-repeat;
}

#waves1, #waves2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#waves2 {
    opacity: 0.5;