@{
    Layout = null;
}
<html>
<head>
    <title>CoopDEJC - Login</title>
</head>
<body>
    <div class="header">
        @*Imagenes practicamente random, cambiar;*@
        <p><img src="~/img/logo.png" /> CoopDEJC</p>
        <a href="@Url.Action("Register","Login")">Register</a>
    </div>
    <div class="container">
        <form action="@Url.Action("Index","Home") method="post">
            <center>
                <div class="title">
                    <img src="~/img/userlogo.png" />
                    <p>Sign In</p>
                </div>
                <div class= "textboxes">
                    <label for="email">Email</label>
                    <input class="" name="email" type="email" maxlength="100" required />
                </div>
                <div class="textboxes">
                    <label for="password">Password</label>
                    <input name="password" type="password" maxlength="100" required />
                </div>
                <div class="textboxes">
                    <input name="rememberme" type="checkbox" />
                    <label for="rememberme">Remember me</label>
                    <a href="#">Forgot password?</a>
                </div >
                <div class="btnsubmit">
                    <input type="submit" value="Login" />
                </div>
            </center>
        </form>
    </div>
</body>
</html>